/* Global STyles */

.Background-Image {
     flex:1;
     align-items: center;
     background-size: auto;
     background-color: red;
     width: 100%;
     height: 100%;
}

.Background {
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: red;
  width: 100%;
}

.Backdrop-View {
  background-color: rgba(0,0,0,0);
  position: absolute;
  width: 100%;
  height: 100%;
}

.Background-Right {
  background-image: linear-gradient(#8b8b8b, #1c1c1c);
  flex: 1;
  width: 100%;
}

.Background-Left {
  background-image: linear-gradient(#a9a9a9, #1c1c1c);
  flex: 1;
  width: 100%;
}

.Page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App {
  background-color: #aeaeae;
}

.comingSoon {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
