.header {
  background-color: rgba(0,0,0,0);
  color: white;
  position: absolute;
  width: 100%;


  display: flex;
}

.title {
  font-weight: bold;
  font-family: fantasy;
  font-size: 35px;

}

.titleWrapper {
  padding-top: 15px;
  padding-left: 20px;
  flex: 3;
  align-items: center;
}

.navBar {
  flex: 1;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  align-items: flex-end;
  float: right;
}

.navItem {
  font-family: Trebuchet MS;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  color: white;
  border-top: rgba(0,0,0,0);
  border-left: rgba(0,0,0,0);
  border-right: rgba(0,0,0,0);
  border-bottom-width: thick;
  border-bottom-color: rgba(0,0,0,0);
  border-bottom-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
.navItem:hover {
  font-family: Trebuchet MS;
  font-size: 20px;
  background-color: rgba(255,255,255,0.3);
  color: white;
  border-top: rgba(0,0,0,0);
  border-left: rgba(0,0,0,0);
  border-right: rgba(0,0,0,0);
  border-bottom-width: thick;
  border-bottom-color: rgba(0,0,0,0);
  border-bottom-style: solid;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.navItemActiive {
  font-family: Trebuchet MS;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  color: white;
  border-top: rgba(0,0,0,0);
  border-left: rgba(0,0,0,0);
  border-right: rgba(0,0,0,0);
  border-bottom-width: thick;
  border-bottom-color: #FFD600;
  border-bottom-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 0px;
  padding-right: 0px;

}

.navWrapper {
  flex: 1;
  padding-top: 2px;
  /*background-color: blue;*/
}
