.html .body {
  height: 100%;
}

div p {
  padding: 0;
}

.Main-Page {
  height: 100%;
  display: flex;
}

.Upper-Panel {
  padding-top: 100px;
  width: 100%;
  height: 55%;
  background-color: rgba(255,255,255,0.15);
  display: flex;
}

.Book-Cover-Wrapper {
  display: flex;
  flex:1;
  height: 100%;
  /*background-color: red;*/
}

.Upper-Panel-Content {
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Upper-Panel-Header {
  color: white;
  font-style: italic;
}

.Cover {
  margin: 40px;
  width: 40%;
  align-self: center;
}

.Order-Now {
  margin-top: 30px;
  height: 10%;
  color: white;
  background-color: green;
  border: green;
  padding-left: 40px;
  padding-right: 40px;
}

.Price {
  color: white;
  margin-top: 100px;
}

.Lower-Panel {
  flex:1;
  display: flex;
}

.Body-Content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
}

.Lower-Panel-Left {
  background-color: rgba(255,255,255,0.65);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Lower-Panel-Right {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.4);
}

.Media-Icons {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Connect {
  padding-top: 20px;
  color: white;
  text-align: center;
}

.Sellers {
  padding-top: 20px;
  color: #FF5722;
  text-align: center;
}

.Social-Media-Icon {
  height: 40%;
}

.Sellers-Icon {
  background-color: rgba(255,255,255,0.15);
  padding: 10px;
  border-radius: 10px;
}

.BarnesAndNoble {
  margin-right: 30px;
  padding: 10px;
  border-radius: 10px;
  height: 30px;
}

.View-All-Wrapper {
  text-align: center;
  padding-bottom: 20px;
}

.View-All {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #FF5722;
  color: white;
  border-style: none;
}
