.html .body {
  height: 100%;
}

div p {
  padding: 0;
}

.Main-Page {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Upper-Panel {
  width: 100%;

  display: flex;
  align-items: center;
}

.Book-Cover-Wrapper {
  display: flex;
  flex:1;
  height: 100%;
  /*background-color: red;*/
}

.Upper-Panel-Content {
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Upper-Panel-Header {
  color: white;
  font-style: italic;
}

.Cover {
  margin-top: 90px;
  margin-bottom: 90px;
  margin-right: 50px;
  margin-left: 90px;
  width: 40%;
  align-self: center;
  border-radius: 10px;
}

.Order-Now {
  margin-top: 30px;
  height: 10%;
  color: white;
  background-color: green;
  border: green;
  padding-left: 40px;
  padding-right: 40px;
}

.Book-Info {
  color: white;
  margin-top: 100px;
}

.Lower-Panel {
  flex: 1;
  display: flex;
}

.Body-Content {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.Lower-Panel-Left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Lower-Panel-Right {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.Media-Icons {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sellers-List {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Connect {
  padding-top: 20px;
  color: white;
  text-align: center;
}

.Sellers {
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  color: #BF360C;
}

.Sellers-Box {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 10px;
  margin-left: 90px;
}

.Social-Media-Icon {
  height: 40%;
}

.Sellers-Icon {
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.BarnesAndNoble {
  margin-right: 30px;
  padding: 10px;
  border-radius: 10px;
  height: 30px;
}

.View-All-Wrapper {
  text-align: center;
  padding-bottom: 20px;
}

.View-All {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #FF5722;
  color: white;
  border-style: none;
}
